body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    font: normal 1.1em monospace;
    max-width: 60em;
    text-align: justify;
}

.display-math {
    display: block;
    margin-top: 0.2em;
    margin-bottm: 0.2em;
    text-align: center;
}

.inline-math {
    display: inline;
}

div.theorem:before {
    content: "Theorem.";
    font-weight: bold;
}

div.theorem div.lemma div.proposition div.definition div.corollary {
    text-indent: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.lemma:before {
    content: "Lemma.";
    font-weight: bold;
}

div.proposition:before {
    content: "Proposition.";
    font-weight: bold;
}

div.definition:before {
    content: "Definition.";
    font-weight: bold;
}

div.corollary:before {
    content: "Definition.";
    font-weight: bold;
}

a {
    color: inherit;
}

p {
    margin-bottom: 0
}

p + p {
    text-indent: 1.5em;
    margin-top: 0
}
