body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    font: normal 1.1em monospace;
    max-width: 60em;
    text-align: justify;
}

.display-math {
    display: block;
    margin-top: 0.2em;
    margin-bottm: 0.2em;
    text-align: center;
}

.inline-math {
    display: inline;
}

div.theorem, div.lemma, div.proposition, div.definition, div.corollary, div.proof {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.theorem > p:first-child:before {
    content: "Theorem. ";
    font-weight: bold;
}

div.lemma > p:first-child:before {
    content: "Lemma. ";
    font-weight: bold;
}

div.proposition > p:first-child:before {
    content: "Proposition. ";
    font-weight: bold;
}

div.definition > p:first-child:before {
    content: "Definition. ";
    font-weight: bold;
}

div.corollary > p:first-child:before {
    content: "Corollary. ";
    font-weight: bold;
}

div.proof > p:first-child:before {
    content: "Proof. ";
    font-style: italic;
}

div.proof > p:last-child:after {
    content: " ∎";
}

div.theorem + div.proof {
    margin-top: -1em;
}

a {
    color: inherit;
}

p {
    margin-bottom: 0;
}

p + p {
    text-indent: 1.5em;
    margin-top: 0;
}
